body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar {
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
}

.splash-page {
  background-color: #C8C8C8;
  height: 100%;
  text-align: left;

  .splash-content {
    min-height: 100vh;
    padding-bottom: 80px; /* Space for fixed footer */
    overflow-y: hidden; 
  }

  .splash-header {
    font-size: 100px;
    position: absolute;
    bottom: 80px;
  }

  footer {
    background-color: transparent;
    animation: appear-bottom 0.5s ease-out forwards;
    animation-delay: 2s;  
  }
}

@keyframes grow {
  from {
    font-size: 20vh;
  }
  to {
    font-size: 31vh;
  }
}

.splash-page::before {
  content: 'N';
  position: fixed;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 31vh;  /* Adjust size as needed */
  color: #ffffff;
  font-weight: bold;
  z-index: 1;
  pointer-events: none;
  animation: grow 3s ease-out forwards;
}

@keyframes appear-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.settings-list-stacked {
  font-size: 14px;
  font-weight: 600;

  li i {
    width: 24px;
  }
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  font-weight: 500;
}

.display-1 {
  font-size: 58px;
}

.circle-badge {
  text-align: center;
  background-color: #DBDEE2;
}

.circle-badge-large {
  padding: 14px;
  border-radius: 30px;
  width: 52px;
}

.btn {
  border-radius: 40px;
}

.btn-primary {
  background-color: #83F396 !important;
  border: 1px solid #83F396 !important;
  color: #000000;
}

.btn-secondary {
  background-color: #000000;
}

.btn-outline-secondary {
  border-color: #000000;
}

.btn-left-justify {
  text-align: left;
  display: flex!important;
  align-items: center !important;

  i {
    margin-left: auto !important;
    margin-right: 0 !important; 
  }
}

.btn-right-justify {
  text-align: right;
  display: flex!important;
  align-items: center !important;

  i {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #000000;
  transition: all 0.2s ease-in-out;
}

.btn-transparent:hover {
  background-color: rgba(0,0,0,0.05);
}

.circle-success {
  padding: 32px;
  height: 124px;
  width: 124px;
  text-align: center;
  vertical-align: text-bottom;
  background-color: #83F396;
  border-radius: 100%;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100vw);  /* Start from viewport width */
  }
  to {
    transform: translateX(0);      /* End at natural position */
  }
}

img[src="src/app/img/ellipse_1.svg"] {
  animation: slideFromRight 1s ease-out forwards;
}

.desktop-title-and-version {
  margin-top: 50%;
}

.notification-detail {
  background-color: #C8C8C8;
}

@keyframes panBackground {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
  0% {
    background-position: 0% center;
  }
}

.background-image-80 {
  height: 80vh;
  background-image: url('/img/graph_balloon_raw_1.png');
  background-size: 120% auto;  /* Make image wider than container to allow movement */
  background-position: center;
  background-repeat: no-repeat;
  animation: panBackground 10s linear infinite alternate;  /* Adjust time as needed */
}