body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.splash-page {
  background-color: #C8C8C8;
  height: 100%;
  text-align: left;

  .splash-content {
    min-height: 100vh;
    padding-bottom: 80px; /* Space for fixed footer */
    overflow-y: hidden; 
  }

  .splash-header {
    font-size: 100px;
    position: absolute;
    bottom: 100px;
  }

  footer {
    background-color: transparent;
  }
}

.splash-page::before {
  content: 'N';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 31vh;  /* Adjust size as needed */
  color: #ffffff;
  font-weight: bold;
  z-index: 1;
  pointer-events: none;
  font-family: Arial, sans-serif;  /* Or your preferred font */
}

.btn {
  border-radius: 40px;
}

.btn-left-justify {
  text-align: left;
}

.btn-right-justify {
  text-align: right;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #000000;
  transition: all 0.2s ease-in-out;
}

.btn-transparent:hover {
  background-color: rgba(0,0,0,0.05);
}
